.profile-page {
   .img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5rem;
      margin: 0 0 1rem 0;

      .img-name {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         width: 40%;
         text-align: center;

         img {
            width: 270px;
            height: 270px;
            border-radius: 100%;
            object-fit: cover;
            border: 3px solid $primary-color;
         }

         .name {
            // background-color: red;
            width: 100%;
            padding: 1rem 0;

            h3 {
               span {
                  color: $primary-color;
               }
            }

            h5 {
               display: flex;
               align-items: center;
               justify-content: center;

               span {
                  margin: 0 1rem;
                  cursor: pointer;

                  a {
                     color: $primary-color;
                  }
               }
            }
         }
      }

      .age,
      .age-active {
         background-color: $dark-color;
         color: $primary-color;
         width: 8rem;
         height: 8rem;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 100%;
         font-weight: bold;
         margin-top: 1rem;
         margin-right: 8rem;
         position: relative;
      }

      .age-active:before,
      .age-active:after {
         content: '';
         position: absolute;
         top: -2px;
         left: -2px;
         border-radius: 100%;
         background: linear-gradient(
            45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #fb0094,
            #0000ff,
            #00ff00,
            #ff0000
         );
         background-size: 400%;
         width: calc(100% + 4px);
         height: calc(100% + 4px);
         z-index: -1;
         animation: steam 20s linear infinite;
      }

      @keyframes steam {
         0% {
            background-position: 0 0;
         }
         50% {
            background-position: 800% 0;
         }
         100% {
            background-position: 0 0;
         }
      }

      .age-active:after {
         filter: blur(5px);
      }
   }

   .boxes {
      width: 50%;
      margin: 0 0 2rem 0;

      div {
         display: block;
         padding: 0.5rem 0.9rem;
         width: 100%;
         border: none;
         outline: none;
         background-color: $dark-color;
         color: $white-color;
         font-size: 1rem;
         border-radius: 10px;
         margin: 1.5rem 0;
         display: flex;
         align-items: flex-start;
         justify-content: flex-start;
         flex-direction: column;
         position: relative;

         span {
            color: $grey-color;
         }

         i {
            position: absolute;
            top: 50%;
            right: 3%;
            transform: translate(-3%, -50%);
            font-size: 1.3rem;
            color: $grey-color;
         }
      }
   }

   .latest-birthdays {
      h3 {
         margin: 1rem 3rem;
         span {
            color: $primary-color;
         }
      }

      .birthdays {
         .birthday,
         .birthday-active {
            background-color: $dark-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            margin: 1rem 0;
            cursor: pointer;
            position: relative;

            .img {
               margin-left: 1rem;
               display: flex;
               align-items: center;
               justify-content: center;
               padding: 0.4rem 0;
               img {
                  width: 80px;
                  height: 80px;
                  border-radius: 100%;
               }
            }

            .name {
               flex: 8;
               span {
                  color: $primary-color;
               }
            }

            .date {
               background-color: $primary-color;
               padding: 1.1rem;
               flex: 1;
            }
         }

         .birthday-active:before,
         .birthday-active:after {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            background: linear-gradient(
               45deg,
               #fb0094,
               #0000ff,
               #00ff00,
               #ffff00,
               #fb0094,
               #0000ff,
               #00ff00,
               #ff0000
            );
            background-size: 400%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            z-index: -1;
            animation: steam 20s linear infinite;
         }

         @keyframes steam {
            0% {
               background-position: 0 0;
            }
            50% {
               background-position: 800% 0;
            }
            100% {
               background-position: 0 0;
            }
         }

         .birthday-active:after {
            filter: blur(5px);
         }
      }
   }
}
