img {
   width: 100%;
   height: 100%;
}

a {
   color: $white-color;
   text-decoration: none;
}

.container {
   width: 80%;
   margin: 0 auto;
   max-width: 1224px;
   min-height: 80vh;
}

@mixin easeOut {
   transition: all ease-out 0.5s;
}

// Text
h1 {
   font-size: 5rem;
}

h2 {
   font-size: 3rem;
}

h3 {
   font-size: 2rem;
}

h4 {
   font-size: 1.5rem;
}

h5 {
   font-size: 1rem;
}

// Buttons
.btn {
   padding: 0.9rem 1rem;
   font-size: 1rem;
   border: none;
   outline: none;
   cursor: pointer;
   font-family: 'Montserrat Alternates', sans-serif;
   font-weight: bold;
   border-radius: 10px;

   &-primary {
      background-color: $primary-color;
      color: $white-color;
      @include easeOut();

      &:hover {
         background-color: darken($primary-color, 0.6);
      }
   }
}

// Form
form {
   div {
      margin: 1.5rem 0;
      position: relative;

      input {
         font-family: 'Montserrat Alternates', sans-serif;
         display: block;
         padding: 0.9rem;
         width: 100%;
         border: none;
         outline: none;
         background-color: $dark-color;
         color: $white-color;
         font-size: 1rem;
         border-radius: 10px;
      }

      input[type='date']::-webkit-inner-spin-button,
      input[type='date']::-webkit-calendar-picker-indicator {
         display: none;
         -webkit-appearance: none;
      }

      input[type='date'] {
         color: $grey-color;
      }

      i {
         position: absolute;
         top: 50%;
         right: 3%;
         transform: translate(-3%, -50%);
         font-size: 1.3rem;
         color: $grey-color;
      }

      .btn {
         width: 100%;
      }
   }
}

.error-msg {
   color: $danger-color;
   font-weight: bold;
   margin: -1rem 0.5rem;
   margin-bottom: 1rem;
}

.success-msg {
   color: $primary-color;
   font-weight: bold;
   margin: -1rem 0.5rem;
   margin-bottom: 1rem;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.success-msg-alt {
   color: $primary-color;
   font-weight: bold;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;

   span {
      color: $white-color;
   }
}

.loader {
   background-color: rgba($black-color, 0.8);
   color: $white-color;
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   z-index: 4;

   i {
      font-size: 3rem;
      margin-top: 3rem;
   }
}

.back {
   display: inline-block;
   margin: 1rem 0;
   font-weight: bold;
   color: $grey-color;
   @include easeOut();

   &:hover {
      color: $white-color;
   }
}

.alert-modal {
   background-color: rgba($black-color, 0.8);
   color: $white-color;
   width: 100vw;
   min-height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   z-index: 4;
   display: flex;
   align-items: center;
   justify-content: center;

   .content {
      background-color: $dark-color;
      width: 40%;
      text-align: center;
      border-radius: 10px;
      overflow: hidden;

      .head {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0.5rem 2rem;
         border-bottom: 3px solid $primary-color;

         .icon {
            padding: 0.6rem 0.8rem;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @include easeOut();

            &:hover {
               background-color: $primary-color;
            }
            i {
               font-size: 2rem;
               font-weight: 300;
            }
         }
      }

      .body {
         margin: 2rem 0;
      }

      .button {
         .btn {
            border-radius: 0;
            width: 100%;
         }
      }
   }
}

.email {
   background-color: $primary-color;
   color: $white-color;
   // width: 70%;
   padding: 1rem 2rem;
}
