.welcome-page {
   margin: 4rem 1rem;

   h1 {
      i {
         color: $primary-color;
      }
   }

   h4 {
      font-weight: lighter;
      margin-left: 4rem;
   }

   .buttons {
      margin: 3rem -2rem;

      a {
         .btn {
            width: 30%;
            margin-right: 2rem;
         }
      }
   }
}
