@import 'config';
@import 'utilities';
@import 'homepage';
@import 'loginpage';
@import 'welcomepage';
@import 'birthdayspage';
@import 'createbirthdaypage';

* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 17px;
   line-height: 1.7;
   width: 100%;
   min-height: 100vh;
   color: $white-color;
   background-image: url('https://images.pexels.com/photos/1974197/pexels-photo-1974197.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
   z-index: 3;
   background-size: cover;
   background-repeat: no-repeat;
}

body::after {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba($black-color, 0.7);
   width: 100vw;
   z-index: -1;
}

header {
   padding: 0.8rem 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;

   .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      div {
         background-color: $primary-color;
         width: 2rem;
         height: 2rem;
         border-radius: 100%;
         margin-right: 1rem;
      }

      h5 {
         font-size: 1.3rem;
         color: $grey-color;
         font-weight: bold;
         @include easeOut();

         &:hover {
            color: $white-color;
         }
      }
   }

   .date {
      color: $primary-color;
   }
}

.options {
   .option-icon {
      position: fixed;
      bottom: 4%;
      right: 2%;
      transform: translate(-2%, -4%);
      padding: 0.5rem 0.8rem;
      border-radius: 100%;
      cursor: pointer;
      @include easeOut();

      &:hover {
         background-color: $primary-color;
      }

      i {
         font-size: 2rem;
         color: $grey-color;
      }
   }

   &-container {
      display: none;
   }

   &-container-show {
      background-color: $white-color;
      color: $black-color;
      position: fixed;
      bottom: 10%;
      right: 0%;
      width: 300px;
      transform: translate(0%, -10%);
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;
      overflow: hidden;

      a {
         color: $dark-color;
         width: 100%;
      }

      div {
         padding: 1rem;
         cursor: pointer;
         width: 100%;
         @include easeOut();

         &:hover {
            background-color: $grey-color;
         }
      }

      .name {
         color: $primary-color;
         font-weight: bold;
         border-top: 2px solid $grey-color;

         i {
            margin-right: 1rem;
         }

         &:hover {
            background-color: $white-color;
         }
      }
   }
}
